<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="phpunit.php" colors="true" processIsolation="false" stopOnFailure="false" beStrictAboutChangesToGlobalState="true" beStrictAboutTestsThatDoNotTestAnything="true" executionOrder="random" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage includeUncoveredFiles="false"/>
  <testsuites>
    <testsuite name="Repository Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">vendor</directory>
    </exclude>
  </source>
</phpunit>
